In [1]:
x=10
x

10

In [3]:
print(x)

10

In [4]:
x

10

In [5]:
y=100
y

100

In [6]:
print(y)

100

In [7]:
name="ronit"
gender="male"
age=18

In [8]:
age,name,gender

(18, 'ronit', 'male')

In [10]:
print(age)
print(name)
print(gender)

18
ronit
male

In [11]:
Gender

<class 'NameError'>: name 'Gender' is not defined

In [12]:
gender

'male'

In [13]:
y=10
x="ron"
x
y

10

In [14]:
x,y

('ron', 10)

In [16]:
z=y
z

10

In [17]:
x=y=z="bat"
print(z)

bat

In [18]:
x,y,z=10,12,13
y

12

In [19]:
#variable name should start with only alphabets or underscore#

In [21]:
##datatypes
x=1
type(x)

int

In [22]:
y=1.22
type(y)

float

In [23]:
z="name"
type(z)

str

In [26]:
x=True
type(x)

bool

In [28]:
x=true
type(x)

<class 'NameError'>: name 'true' is not defined

In [2]:
x=name
x

NameError: name 'name' is not defined

In [5]:
h=4-3j
type(h)

complex

In [6]:
##SAMPLE LIST  [cosists of closed bracket]

sample_list=[1,3.5,"hi",10]
sample_list

[1, 3.5, 'hi', 10]

In [7]:
type(sample_list)

list

In [8]:
sample_list[2]

'hi'

In [11]:
sample_list[-2]       ##FROM RIGHT THE ARRAY STARTS FROM -1

'hi'

In [9]:
##THIS IS CALLED MUTABILITY
sample_list[0]=10                         
sample_list

[10, 3.5, 'hi', 10]

In [10]:
#TUPLE  (CONSISTS OF OPEN BRACKET OR WITHOUT BRACKET)
sample_tuple=(1,3.5,"hi",10)
sample_tuple

(1, 3.5, 'hi', 10)

In [12]:
type(sample_tuple)

tuple

In [13]:
sample_tuple[0]=10            ##UNMUTABLE

TypeError: 'tuple' object does not support item assignment

In [14]:
##SET   (not repeatable)  (with curly bracket) (mutable but not with index)
##IT MAKES THINGS ARRANGE IN A WAY LIKE ASCENDING
sample_set={1,2,3,36,69,'hi','bye','ronit'}
sample_set

{1, 2, 3, 36, 69, 'bye', 'hi', 'ronit'}

In [15]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [16]:
sample_set.add(100)             ##MUTABLE IN THIS WAY
sample_set

{1, 100, 2, 3, 36, 69, 'bye', 'hi', 'ronit'}

In [17]:
sample_set.remove('hi')
sample_set

{1, 100, 2, 3, 36, 69, 'bye', 'ronit'}

In [1]:
##DICTIONARY       ....... (KEY VAKUE PAIR DATA STRUCTURE)

sample_dict={1:'apple',2:'data',3:'35.6',2:'hi',6:7.2}      ##if same key repeats , it takes the last one only
sample_dict

{1: 'apple', 2: 'hi', 3: '35.6', 6: 7.2}

In [2]:
sample_dict[2]          ##value can be retrieved using key

'hi'

In [4]:
sample_dict['apple']         ##key cannot be retrieved using value

KeyError: 'apple'

In [5]:
sample_dict[6]=100                   ##DICTIONARY IS MUTABLE
sample_dict

{1: 'apple', 2: 'hi', 3: '35.6', 6: 100}

In [6]:
 ##KEY IS UNIQUE
##VALUES CAN BE DUPLICATED